.w-card-body{
    width: 24%;
    height: 74%;
    border-radius: 20px;
    transition: .5s ease-in-out;
    padding: 1% 3%;

}
.w-card-body:hover{
    background-color: rgba(240, 248, 255, 0.024);
}
.widget-title{
    font-size: 25px;
    font-weight: 400;
    color:rgba(240, 248, 255, 0.827);
}