.main-body{
    height: 100vh;
    max-width: 100vw;
    width: 100vw;
    /* background-image: linear-gradient(to right, #13172D, #002E73); */
    background: linear-gradient(296.82deg, #132F79 0%, #090C29 100%);
    /* background-color: transparent; */
    display: flex;
    
}




