a {
    text-decoration:none !important ;
}
.btn-body{
    height: 13%;
    width: 15%;
    border-radius: 5%;
    color:rgb(155, 155, 155);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s ease;
    /* background-image: linear-gradient(to right, #13172d00, #002e7300); */
}

.btn-body.active{
    color:aliceblue;
    transform: scale(1.05);
}

.btn-body{
    margin: 15% auto;
    font-weight: bold;
}

.btn-body:hover{
    color: rgb(240, 248, 255);
}